$cardo: 'Cardo', serif;
$merriweather: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;
$playfair: 'Playfair Display', serif;
$crimson: 'Crimson Text', serif;
$viga: 'Viga', sans-serif;
$lato: 'Lato', sans-serif;