.makna-case .container .description .right .color .makna-color {
  background-color: red !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ECDAC0;
}

html {
  font-size: 62.5%;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

section.title {
  height: 100vh;
  padding: 5rem;
  display: flex;
  align-items: center;
}
section.title .container {
  width: 40%;
}
section.title .container .title-content p {
  font-family: "Crimson Text", serif;
  font-size: 250px;
  line-height: 230px;
  color: #402E2E;
}
section.title .container .desc-content {
  margin-top: 2rem;
}
section.title .container .desc-content p {
  font-family: "Cardo", serif;
  font-size: 25px;
  line-height: 35px;
  color: #402E2E;
}

section.case-study .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.case-study .container .image-main {
  width: 90%;
}
section.case-study .container .description {
  width: 100%;
  display: flex;
  flex-direction: row;
}
section.case-study .container .description .left {
  padding: 2rem 0rem 2rem 10rem;
  width: 50%;
}
section.case-study .container .description .left .title-sub {
  font-family: "Cardo", serif;
  font-size: 4rem;
  color: #402E2E;
  font-weight: 600;
}
section.case-study .container .description .left .desc-01 .heading, section.case-study .container .description .left .desc-02 .heading, section.case-study .container .description .left .desc-03 .heading {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  height: 9rem;
  width: 30rem;
  background-color: #C8B59A;
  padding: 0 2rem;
}
section.case-study .container .description .left .desc-01 .heading p {
  background-color: #C8B59A;
  font-family: "Viga", sans-serif;
  font-size: 50px;
  color: #fff;
}
section.case-study .container .description .left .desc-01 .heading-desc {
  font-family: "Cardo", serif;
  font-size: 25px;
  color: #402E2E;
}
section.case-study .container .description .left .desc-02 .heading p {
  font-family: "Viga", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #C8B59A;
}
section.case-study .container .description .left .desc-02 .heading-desc {
  font-family: "Cardo", serif;
  font-size: 25px;
  color: #402E2E;
}
section.case-study .container .description .left .desc-03 .heading p {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  color: #fff;
  background-color: #C8B59A;
}
section.case-study .container .description .left .desc-03 .heading-desc {
  font-family: "Cardo", serif;
  font-size: 25px;
  color: #402E2E;
}
section.case-study .container .description .right {
  width: 50%;
  padding: 2rem 0rem 2rem 5rem;
}
section.case-study .container .description .right .title-sub {
  font-family: "Cardo", serif;
  font-size: 4rem;
  color: #402E2E;
  font-weight: 600;
}
section.case-study .container .description .right .color {
  width: 35rem;
  height: 7rem;
  margin: 5rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
section.case-study .container .description .right .color .color1 {
  width: 25%;
  height: 100%;
  background-color: #3C153D;
  z-index: 1;
}
section.case-study .container .description .right .color .color2 {
  width: 25%;
  height: 100%;
  background-color: #0A4610;
  z-index: 1;
}
section.case-study .container .description .right .color .color3 {
  width: 25%;
  height: 100%;
  background-color: #0E261B;
  z-index: 1;
}
section.case-study .container .description .right .color .color4 {
  width: 25%;
  height: 100%;
  background-color: #F0DEDE;
  z-index: 1;
}
section.case-study .container .description .right .color span {
  display: block;
  position: absolute;
  z-index: 0;
  top: -30%;
  left: -6%;
  width: 39rem;
  height: 7rem;
  background-color: #C8B59A;
}
section.case-study .container .description .right .color-desc .color-text {
  font-family: "Cardo", serif;
  font-size: 2.5rem;
  color: #402E2E;
}
section.case-study .container .problem, section.case-study .container .fix {
  width: 50%;
  text-align: center;
  margin: 20rem;
}
section.case-study .container .problem .title-problem, section.case-study .container .fix .title-problem {
  font-family: "Cardo", serif;
  font-size: 9rem;
  line-height: 10rem;
  color: #402E2E;
}
section.case-study .container .problem .desc-problem, section.case-study .container .fix .desc-problem {
  margin-top: 2rem;
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 5rem;
  color: #402E2E;
}
section.case-study .container .fix {
  margin: 5rem;
}
section.case-study .container .different .title-different {
  font-family: "Crimson Text", serif;
  font-size: 7rem;
  font-weight: 200;
  line-height: 5rem;
  color: #402E2E;
}
section.case-study .container .different .before {
  margin: 10rem 0;
}

/*# sourceMappingURL=main.css.map */
