 @import '../../base/font';
 @import '../../base/color';


 * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #ECDAC0;
}

html {
	font-size: 62.5% ;
	font-family: $merriweather;
	scroll-behavior: smooth;
}

section.title{
	height: 100vh;
	padding: 5rem;
	display: flex;
	align-items: center;
	.container{
		width: 40%;
		.title-content{
			p{
				font-family: $crimson;
				font-size: 250px;
				line-height: 230px;
				color: $portofolio-color;
			}
		}
		.desc-content{
			margin-top: 2rem;
			p{
				font-family: $cardo;
				font-size: 25px;
				line-height: 35px;
				color: $portofolio-color;
			}
		}
	}
}

section.case-study{
	.container{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.image-main{
			width: 90%;
		}
		.description{
			width: 100%;
			display: flex;
			flex-direction: row;
			.left{
				padding: 2rem 0rem 2rem 10rem;
				width: 50%;
				.title-sub{
					font-family: $cardo;
					font-size: 4rem;
					color: $portofolio-color;
					font-weight: 600;
				}
				.desc-01, .desc-02, .desc-03{
					.heading{
						margin-top: 2rem;
						display: flex;
						align-items: center;
						height: 9rem;
						width: 30rem;
						background-color: #1E1C1C;
						padding: 0 2rem;
					}
				}
				.desc-01{
					.heading{
						p{
							background-color: #1E1C1C;
							font-family: $lato;
							font-size: 20px;
							color: #C3C2C2;
						}
					}
					.heading-desc{
						font-family: $cardo;
						font-size: 25px;
						color: $portofolio-color;
					}
				}
				.desc-02{
					.heading{
						p{
							font-family: $lato;
							font-weight: 300;
							font-size: 30px;
							color: #C3C2C2;
							background-color: #1E1C1C;
						}
					}
					.heading-desc{
						font-family: $cardo;
						font-size: 25px;
						color: $portofolio-color;
					}
				}
				.desc-03{
					.heading{
						p{
							font-family: $lato;
							font-size: 35px;
							font-weight: 300;
							color: #C3C2C2;
							background-color: #1E1C1C;
						}
					}
					.heading-desc{
						font-family: $cardo;
						font-size: 25px;
						color: $portofolio-color;
					}
				}
			}
			.right{
				width: 50%;
				padding: 2rem 0rem 2rem 5rem;
				.title-sub{
					font-family: $cardo;
					font-size: 4rem;
					color: $portofolio-color;
					font-weight: 600;
				}
				.color{
					width: 35rem;
					height: 7rem;
					margin: 5rem;
					display: flex;
					flex-direction: row;
					position: relative;
					.color1{
						width: 25%;
						height: 100%;
						background-color: #6E8B6E;
						z-index: 1;

					}
					.color2{
						width: 25%;
						height: 100%;
						background-color: #1E1C1C;
						z-index: 1;

					}
					.color3{
						width: 25%;
						height: 100%;
						background-color: #4E4A4A;
						z-index: 1;
					}
					span{
						display: block;
						position: absolute;
						z-index: 0;
						top: -30%;
						left: -6%;
						width: 39rem;
						height: 7rem;
						background-color: #C8B59A;
					}
				}
				.color-desc{
					.color-text{
						font-family: $cardo;
						font-size: 2.5rem;
						color: $portofolio-color;
					}
				}
			}
		}
		.problem, .fix{
			width: 50%;
			text-align: center;
			margin: 5rem;
			.title-problem{
				font-family: $cardo;
				font-size: 5rem;
				line-height: 7rem;
				color: $portofolio-color;
			}
			.desc-problem{
				margin-top: 2rem;
				font-family: $crimson;
				font-size: 3rem;
				font-weight: 200;
				line-height: 5rem;
				color: $portofolio-color;
			}
		}
		.fix{
			margin: 5rem;
		}
		.different{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.title-different{
				font-family: $crimson;
				font-size: 5rem;
				font-weight: 200;
				line-height: 7rem;
				color: $portofolio-color;
			}
			.before{
				width: 80%;
				margin: 10rem auto;
				img{
					width: 100%;
				}
			}
		}
		.technology{
			width: 80%;
			text-align: left;
			margin: 5rem;
			display: flex;
			align-self: left;
			flex-direction: column;
			.title-problem{
				width: 60%;
				font-family: $cardo;
				font-size: 5rem;
				line-height: 7rem;
				color: $portofolio-color;
			}
			.desc-problem{
				width: 60%;
				margin-top: 2rem;
				font-family: $crimson;
				font-size: 3rem;
				font-weight: 200;
				line-height: 5rem;
				color: $portofolio-color;
			}
		}
		.design, .design-panel, .design-construction{
			margin: 5rem;
			width: 80%;
			text-align: left;
			.title-problem{
				width: 80%;
				font-family: $cardo;
				font-size: 5rem;
				line-height: 7rem;
				color: $portofolio-color;
			}
			.desc-problem{
				width: 80%;
				margin-top: 2rem;
				font-family: $crimson;
				font-size: 3rem;
				font-weight: 200;
				line-height: 5rem;
				color: $portofolio-color;
			}
			img{
				margin: 5rem 0;
				width: 100%;
			}
			img.rotate{
				margin: 5rem 0;
				width: 60%;
				transform: rotate(-90deg);
			}
			img.portait{
				width: 60%;
			}
		}
	}
}